.left-col {
    text-align: center;
	padding-bottom: 50px;
}
.left-inner {
    max-width: 6em;
    margin: auto;
	border: 1px #666666 solid;
}

img.ls-img {
    width: 100%;
	padding-bottom: 15px;
}

img.sq-img {
    width: 100%;
}
.menu {
    width: 100%;
	padding-top: 5px;
    padding-bottom: 5px;
	border-bottom:1px #666666 solid;
	border-top: 1px #666666 solid;
}
span.glyphicon {
    color: blue;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}

.navs {
    width: 100%;
	padding-top: 15px;
    padding-bottom: 5px;
}
.navs>img {
    width: 3em;
	cursor: pointer;
}
.navlabel {
    padding-top: 2px;
    padding-bottom: 25px;
}

.navlabel:lastchild {
    padding-top: 2px;
    padding-bottom: 0px;
}

.right-inner {
    width: 100%;
}
div.title {
    font-size: 2em;
    font-weight: bolder;
	line-height: 1;
}
span.author {
    color: blue;
}
.authdet {
    margin-bottom: 15px;
	margin-top: 5px;
}
.authdet>span {
    font-size: 1em;
}
.authdet>span.day {
    color: #999;
}
.descr {
    font-size: 1em;
	padding-bottom: 10px;
	padding-top: 20px;
}
.article-list{
	width: 100%;
	height: 8em;
	overflow: hidden;
	position:relative;
	margin-bottom: 20px;
}
.nextArticles {
    width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-top: 10px;
}

h3#nextArticles{
	line-height:2;
	border-bottom: 1px #666666 solid;
	border-top: 1px #666666 solid;
	font-weight:bolder
}
.number{
	width: 10%;
	display: table;
	height: inherit;
	float: left;
	text-align:center;
	vertical-align: middle;
}
.number>div{
	display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.number>div>span{
	width: 4vw;
	height: 4vw;
	font-size: 2vw;
	display: table;
	border: 1px #666666 solid;
	border-radius: 50%;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: 2;
}
.article-thumb{
	width: 90%;
	height: auto;
	display: block;
	float: left;	
}
.article-thumb>.title-name {
	font-size: 1.4em;
}
.article-thumb>.desc>span.clickable{
	width: 90%;
	position: absolute;
	background: #fff;
	color: blue;
	bottom: 0px;
	right: 0px;
	font-size: 0.8em;
	padding-top:5px;
	padding-bottom: 5px;
}
.lf {
    width: 60%;
    display: inline-block;
}
.rh {
    width: 40%;
    display: inline-block;
    float: right;
}
.rh>img {
    width: 80%;
    float: right;
}

a.right.carousel-control {
    background-image: none;
}
a.left.carousel-control {
    background-image: none;
}
.title-name>a {
    color: black;
    line-height: 1.5;
}
ul.grid{
	width: 100%;
	padding: 0;
	margin: 0;
}
ul.grid>li {
    list-style: none;
}
.item>ul.grid>li>figure>figcaption {
    text-align: center;
	padding-top: 10px;
}
.container {
    width: 100%;
	padding: 0;
}
.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding: 0;
}
.carousel-inner {
    overflow: hidden;
}
a.left.carousel-control {
    background-image: none;
    display: table;
    vertical-align: middle;
	text-align: right;
	width: 100%;
    float: right;
    padding-right: 5%;
}
span.glyphicon.glyphicon-menu-left {
    font-size: 24px;
    color: blue;
    vertical-align: middle;
    display: table-cell;
    padding: 0;
	line-height: 2;
}
a.right.carousel-control {
    background-image: none;
    display: table;
    vertical-align: middle;
    width: 3vw;
	right: 1%;
}
.carousel-inner {
    height: auto;
}
a {
    color: blue;
}
span.glyphicon.glyphicon-menu-right {
    font-size: 24px;
	color: blue;
	vertical-align: middle;
    display: table-cell;
    padding: 0;
	line-height: 2;
}
.carousel-control {
    opacity: 1;
}
	
	figure{
		overflow:hidden;
		height: 250px;
	}
	figure>img {
		vertical-align: middle;
		height: 120px;
	}